@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: rgba(255, 255, 255, 0.1);
    --border-color: rgba(255, 255, 255, 0.5);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: var(--bg-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.content {
    padding: 25px;
    text-align: center;
    transition: 0.5s;
}

h1 {
    font-size: 18pt;
    color: #fff;
    z-index: 1;
    pointer-events: none;
}

.input {
    background: var(--bg-color);
    display: block;
    position: relative;
    font-size: 16pt;
    font-weight: bold;
    border-color: var(--bg-color);
    margin: 15px;
    color: var(--bg-color);
    -webkit-text-stroke: 0.9px var(--border-color);
    text-transform: uppercase;
    max-width: 60vw;
    min-width: 250px;
    height: auto;
    letter-spacing: 2px;
    word-spacing: 5px;
}

/* Button CSS */

label {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 30px;
}

label h2 {
    font-size: 15pt;
    color: #fff;
}

label {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

label div {
    --button-width: 65px;
    --border-radius-size: calc(var(--button-width) * 0.615384615);
    position: relative;
    width: var(--button-width);
    aspect-ratio: 13/6;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}

label div input {
    opacity: 0;
}

label div .check {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: #101010;
    border-radius: var(--border-radius-size);
    box-shadow: 0 0 0 4px #101010;
}

label div .check:before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: -30px;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50px;
    background: #f00;
    transition: 0.5s;
    box-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 20px #f00, 0 0 40px #f00,
        0 0 80px #f00;
}

label div input:checked ~ .check:before {
    background: #101010;
    box-shadow: none;
}

label div .check:after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: -30px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background: #101010;
    box-shadow: none;
    transition: 0.5s;
}

label div input:checked ~ .check:after {
    background: #0f0;
    box-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0,
        0 0 80px #0f0;
}

label div .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--button-width) * 0.5);
    aspect-ratio: 6.5/6;
    border-radius: var(--border-radius-size);
    background: #333;
    transition: 0.5s;
    box-shadow: inset 0 calc(--border-radius-size * -0.5) 15px #292929,
        inset 0 calc(--border-radius-size * 0.5) 15px #292929;
}

label div .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 14.625px;
    height: 30px;
    background: #252525;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3);
    filter: blur(2px);
}

label div .btn:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: calc((var(--button-width) * 2.925 / 13));
    aspect-ratio: 2.925/6;
    background: #252525;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3);
    filter: blur(2px);
}

label div input:checked ~ .btn {
    left: 50%;
}
